:root {
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-light-gray: #F2F2F2;
  --basic-gray:  #EEEEEE;
  --basic-black: #000000;
  --opacity-black : rgb(0,0,0, 0.3);
  --opacity-white: rgb(255,255,255, 0.9);

  --hover-blue: #669EC0;
  --hover-brown: #604E43;
  --hover-gray: #EBEBEB;

  --active-blue: #5496BD;
  --active-brown: #503E33; 

  /*мелкие иконки: календарь и +/- */

  --basic-icon-gray: #A9A9A9;
  --hover-icon-black: #000000;
  --active-icon-blue: #81B3D2;
  --updown-gray: #CACACA;
  --logo-gray: #BDBBBC;
  --checking-gray: #6A6A6A;
  --booking-brown: #666666;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

body {
  min-height: 100vh;
  width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-black);
  box-sizing: border-box;  
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

 /*****       index        *****/ 

/* Main navigation */

.main-navigation {
  background-color: var(--basic-white);
  margin: auto;
  color: var(--basic-black);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.logo {
  position: absolute;              
  z-index: 2;
}

.navigation {
  list-style: none;  
}

ul.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 56px;
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
}

ul.site-navigation li {
  width: 120px;
  height: 26px;
  margin: 0;
}

ul.site-navigation li:nth-child(4n+1) {                                            
  margin-left: 72px; 
  text-align: left;
  margin-right: 107px;
}

ul.site-navigation li:nth-child(4n+2) {                                
  text-align: left;
}

ul.site-navigation li:nth-child(4n+3) {                /* Он намертво прилип не правильно*/                   
  text-align: right;
  margin-left: auto;                           
}

ul.site-navigation li:nth-child(4n+4) {                 
  margin-right: 72px;
  margin-left: 107px;
  text-align: right;
}

.site-navigation a {
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 700;               
  line-height: 26px;                   
  height: 26px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--active-icon-blue)
}

.site-navigation a:active {
  color: var(--opacity-black);
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}    

.welcome {
  text-align: center;
  margin: auto;
}

.welcome img {
  margin-top: 77.35px;
}

.photo-index {
  background-image: url(../img/background-photo.jpg);
  background-color: var(--basic-brown);
  background-position: top;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 509px;
  padding: 0;
}

/* Advantages */


.advantages {
  text-transform: uppercase;
  background-color: var(--basic-white);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.intro {
  text-align: center;
  margin: 0;
}

.advantages h2 {
  font-size: 21px;
  line-height: 26px;
  margin-left: auto;                   /*пока не получилось то же выравнивание букв сделать*/
  margin-right: auto;
  margin-top: 42.5px;
  width: 470px;
  height: 80px;
}

.intro p {
  font-size: 14px;
  line-height: 26px;
  margin-top: 16.5px;
  margin-bottom: 51px;
}

.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 1098;
  width: 1200px;
  box-sizing: border-box;
  display: grid;
  background-color: indigo;
}

.reason-1 {     
  display:flex;
  flex-direction: column;
  margin: auto;
}

.true-city {
  background-color: var(--basic-blue); 
  display: flex;
  align-items: center;
  height: 256px;
  flex-grow: 1;
  color: var(--basic-white);
  box-sizing: border-box;
}
.true-city-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.true-city p {
  margin-top: 23px; 
}

 .true-city h3 {
  margin: 0;
  width: 122px;
}

.city {
  list-style: none;
  display: flex;
  height: 330px;
  align-items: center;
  padding: 0;
}

.city p {
  margin: 0;
  margin-top: 25px;
  font-size: 14px;
  line-height: 21px;
  height: 42px;
}

.housing  {                              
  width: 254px;
  height: 188px;
  margin-top: 60px;                              
  margin-bottom: 82px;
  margin-left: 73px;
  display: flex;
  flex-direction: column;
}

.housing h4 {
  margin: 0;
  margin-top: 28px;
}

.food {
  width: 297px;
  height: 187px;
  margin-top: 61px;
  margin-bottom: 82px;
  margin-left: 124px;
  display: flex;
  flex-direction: column;
}

.food h4 {
  margin:0 ;
  margin-top: 29px;
}
 
.souvenirs {
  width: 269px;
  height: 194px;
  margin-top: 55px;
  margin-bottom: 81px;
  margin-left: 118px;
  margin-right: 65px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
  
.souvenirs h4 {
  margin: 0;
  margin-top: 28px;
}

.souvenirs p {           
  width: 280px;
  height: 43px;                            
  margin-top: 25px;
  font-size: 14px;
  line-height: 21px;
  
}
.reason-2 {
  
  /*background-color: var(--basic-blue); */
  display: flex;
  flex-direction: row-reverse;                 
  
  }

 .bridge {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--basic-white);
  flex-grow: 1;
  padding: 49px;
  box-sizing: border-box;
}

.bridge h3 {
  margin: 0;               /* СДЕЛАЛА БОЛЬШЕ ШИРИНУ, ТЕПЕРЬ 2 СТРОКИ НО НУЖНОЕ СЛОВО НЕ ПЕРЕНОСИТСЯ, КАКУЮ БЫ НЕ СТАВИЛА ШИРИНУ (мб тут допустим br?)*/
  width: 160px;               
  height: 43px;
}

.bridge span {
  margin-top: 25px;
}

.bridge p {
  margin: 0;
  margin-top: 23px;
}
ul.reason-345 {
  
 /* background-color: var(--basic-gray);
  display: flex;                            /*Весь этот блок еще в процессе..Почему-то сверху отступ, не могу понять откуда, сверху у элементов нет мешающих margin и у него его нет*/
  height: 256px;
  list-style: none;
  margin: 0;
  padding-top: 47px;
  padding-bottom: 54px;
  padding-right: 77px;
  box-sizing: border-box;
}

ul.reason-345 li:nth-child(3n+1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 207px;
  height: 155px;
  margin-left: 96px;
  margin-right: 168px;
  box-sizing: border-box;
  padding: 0;
  background-color: orangered;
}

ul.reason-345 li:nth-child(3n+2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 258px;
  background-color: yellowgreen;
}

ul.reason-345 li:nth-child(3n+3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin-left: 148px;
  width: 246px;
  background-color: rosybrown;
  box-sizing: border-box;
}

.reason-345 p{
  width: 250px;
  height: 43px;
  padding: 0;

}
.reason-345 h3 {
  width: 119px;
  margin: 0;
}
.advantages-list h3,
.advantages-list h4,
.reason-345 h3 {
  font-size: 21px;
  line-height: 21px; 
}

.advantages-list span,
.reason-345 span {
  font-size: 14px; 
  margin-top: 25px;
}

/* Search form*/

.search-map {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 58px;
  background-color: red;
}

.search-form {
  background-color: var(--basic-white);
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  width: 568px;
  height: 628px;
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 0;
  margin-left: 316px;
  margin-right: 316px;
  background-color: rebeccapurple;
  margin-bottom: 78px;
}

.window {
  background-color: springgreen;
  height: 395;
  margin: 0;
  padding: 0;
}

.fieldset {
  border:none;
}

.uppercase {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.button-brown {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  border: none;
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--hover-brown);
}

.button-brown:active {
  background-color: var(--active-brown);
} 

.fieldset input {
  background-color: var(--basic-light-gray);
  border: none;
}

form input:hover {
  background-color: var(--hover-gray);
}

form input:focus {
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
}

.search {
  background-color: var(--basic-blue);
  border: none;
  text-align: center;         
  vertical-align: middle;   /* я не вижу разницы с vertical-align и без него, а в  */
  color: var(--basic-white);
}

.search:hover {
  background-color: var(--hover-blue);
}

.search:active {
  background-color: var(--active-blue);
}



/*****     catalog       *****/

.hotels-catalog {
  background-image: url(../img/background-blur.jpg);
  background-position: top;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 1200px;
  height: auto;
  
}

.form-sorting {
  height: 217px;
  display: grid;
  grid-template-columns: 135px 135px 316px;
  grid-template-rows: 158px 158px 158px;
  /*padding-right: 73px;
  padding-left: 72px;*/
}

.infrastructure {
  display: flex;
  flex-direction: column;
  margin-top: 26.5px;
  margin-left: 72px;
  background-color: lightgreen;
}

.infrastructure legend {
  margin-bottom: 24px;
}

.form-sorting button {
  width: 137px;
  height: 36px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-right: 35px;                  
  padding-left: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid #FFFFFF;              
}

.type {
  display: flex;
  width: 137px;
  flex-direction: column;
  margin-left: 119px; 
  margin-top: 26.5px;
  background-color: lightpink;
}

.type legend {
  margin-bottom: 24px;
 }

.cost {
  margin-top: 26.5px;
  margin-left: 348px;
  height: 158px;
  width: 317px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: flex-start;
}

.min-max {
  display: flex;
  width: 317px;
  color: inherit;
  
}
.cost button {
  margin-top: 33px;
  align-self: center;

}
.form-sorting fieldset {
  background-color: transparent;
  border: none;
  color: var(--basic-white);
  text-transform: uppercase;
}

.form-sorting legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.found {
  color: var(--basic-black);
  text-transform: uppercase;
  display: flex;
  height: 86px;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.found p:first-child {
  padding: 0;
  margin-left: 73px;
  margin-top: 29px;
  margin-right: 46px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.found p:nth-child(2) {
  margin-top: 31px;
}

.rotation {
  list-style: none;
  display: flex;
  margin-top: 31px;
  margin-bottom: 36px;
}

.rotation li:first-child {
  margin-right: 32px;
}

.rotation li:nth-last-child(2) {
  margin-right: 33px;
}
 
.rotation a{
  color: var(--opacity-black);
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dotted var(--basic-blue);
}

.up-down {
  width: 34px;
  height: 10px;
  background-color: brown;
  margin-right: 73px;
  margin-left: 503px;
  margin-top: 40px;
}

.up-down a:first-child {
  background-image: url(../img/icon-up-dir.svg); /* Значки не видны */
  margin-right: 12px;
}

.up-down a:last-child {
  background-image: url(../img/icon-down-dir.svg);
}

.rotation a:hover {
  color: var(--basic-blue);
}

.rotation a:active {
  color: var(--basic-black);
  border: none;
}

/* hotels*/

.hotels {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-columns: 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 454px;  
  box-sizing: border-box;
}

.hotels li {
  display: flex;
  height: 152px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 73px;
  box-sizing: border-box;
}

.hotels li:nth-child(3n+1) {
  background-color: gold;
}

.hotels li:nth-child(3n+2) { 
  background-color: goldenrod;
}

.hotels li:nth-child(3n+3) {
  background-color: khaki;
}

.hotel {
  height: 96px;
  margin-top: 0;
  box-sizing: border-box;
  padding: 0;
  background-color: lightcoral;
}

.more-book {
  display: flex;
}

.stars {
  margin-left: 522px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stars span:last-child {
  background-color: hotpink;
  text-align: center;
  padding-left: 15px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.found-cost {
  display: flex;  
}

.hotels h2 {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
}

.hotels p {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 126px;
  margin-top: 7px;
}

ul.hotels img {
  width: 135px;
  height: 90px;
  margin-right: 30px;
}

 .hotels a,
 .hotels button,
 .hotels span   {
  font-size: 14px;             
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

 .hotels a {
  font-weight: 700;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  border: none;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 17px;
  width: 110px;
  height: 27px;
  box-sizing: border-box;
}

 .hotels button {
  font-weight: 700;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  border: none;
  width: 142px;
  height: 27px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 17px;
  margin-left: 6px;
}

.results span {
  color: var(--booking-brown);
  background-color: var(--basic-light-gray);
}




/*   footer   */

.footer a {
  color: var(--basic-black);
}

/*.footer {
  background-color: var(--opacity-white);
  color: var(--basic-black);
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  display: flex;
  justify-content: baseline;
  width: 1200px;
  height: 120px;
  z-index: 3;
  position: absolute;
  padding: 0;
  margin: 0;
}*/

.footer {
  display: grid;
  width: 1200px;
  height: 120px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0;
  z-index: 4;
  position: absolute;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-right: 138px;
  padding-left: 111px;
  box-sizing: border-box;
}

 .contacts {
  width: 251px;
  height: 61px;
  margin-top: 23px;
  margin-bottom: 36px;
  text-align: center;
  padding: 0;
}

.contacts p {
  height: 26px;
  margin: 0;
}

.contacts a {
  margin-top: 9px;
}

.links {
  margin-left: 163px; 
}

.links .navigation {
  display: flex;
  margin-top: 36px;
  margin-bottom: 36px;
  width: 150px;
  padding: 0;
}

.links li {
  width: 46px;
  height: 48px;
}

.links li:nth-child(3n+1) {
  background-color: var(--basic-blue);
  background-image: url(../img/twitter.svg);  
  background-repeat: no-repeat;  
  background-position: center;  
  margin-right: 6px;               
}

.links li:nth-child(3n+2) {
  background-color: var(--basic-blue);
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center; 
  margin-right: 6px; 
}

.links li:nth-child(3n+3) {
  background-color: var(--basic-blue);
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: center; 
}

.link-academy {
  font-weight: 400;
  margin-left: 190px; 
  padding: 0;          
  margin-top: 38px;
  height: 41px;
  width: 200px;  
  display: flex;
  align-items: center;
}

.link-academy p {
  font-size: 14px;
  line-height: 26px;           
  margin-right: 8px;   
  margin-top: 11px;  
  width: 90px;                             
}

/* SOS

-В пиксельперфект всё криво и вся страница съезжает. Всё перепроверила в body, всёравно съезжает
-как-то слишком много стилей, особенно в списках или это нормально? Может, как вариант, доделать как доделывается, а потом 
попытаться оптимизировать и удалить всё лишнее? Хотя, по идее лучше сразу не плодить лишнее, но я пытаюсь что-нибудь убрать (в тех же списках) и всё совсем плывёт
-Весь текст- uppercase - может его можно вынести в :root ?
-Я думаю карту и форму поиска завернуть в один див и сделать его флекс-контейнером, а их уже спозиционировать с помощью position и z-index ? Ил их можно вообще не заворачивать в див и без флексов попробовать? 

*/


