:root {
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-light-gray: #F2F2F2;
  --basic-gray:  #EEEEEE;
  --basic-black: #000000;
  --opacity-black : rgb(0,0,0, 0.3);
  --opacity-white: rgb(255,255,255, 0.9);

  --hover-blue: #669EC0;
  --hover-brown: #604E43;
  --hover-gray: #EBEBEB;

  --active-blue: #5496BD;
  --active-brown: #503E33; 

  /*мелкие иконки: календарь и +/- */

  --basic-icon-gray: #A9A9A9;
  --hover-icon-black: #000000;
  --active-icon-blue: #81B3D2;
  --updown-gray: #CACACA;
  --logo-gray: #BDBBBC;
  --checking-gray: #6A6A6A;
  --booking-brown: #666666;
}



body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family:  "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  }


 /*****       index        *****/ 

/* Main navigation */

.photo-index {
  background-image: url(../img/background-photo.jpg);
  background-position: top;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 509px;
}

.welcome {
  text-align: center;
  margin: auto;
  padding-top: 77.35px;
}



.main-navigation {
  background-color: var(--basic-white);
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.main-navigation-wrapper {
  background-color: red;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center ;
  

  
  
}

.site-navigation  {
  background-color: blue;
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}

.logo {
  background-color: blueviolet;
  order: -1;

}



.navigation {
  list-style: none;  
}



.site-navigation a {
  color: var(--basic-black);
  text-transform: uppercase;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--active-icon-blue)
}
.site-navigation a:active {
  color: var(--opacity-black);
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}      


/* Advantages */

.advantages {
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-white);
}

.advantages-list {
  list-style: none;
  
}

.background-blue {
  background-color: var(--basic-blue);
}

.background-gray {
  background-color: var(--basic-gray);
}


.advantages h2 {
  font-size: 21px;
  line-height: 26px;
}

.advantages p {
  font-size: 14px;
  line-height: 26px;
}

.advantages-list h3,
.advantages-list h4 {
  font-size: 21px;
  line-height: 21px; 
  
}

.advantages-list span {
  font-size: 14px; 
}

/* Search form*/

.search-form {
  background-color: var(--basic-white);
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.fieldset {
  border:none;
}
.uppercase {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.button-brown {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  border: none;
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--hover-brown);
}

                   /*   Не вижу разницы между наведением и покоем :(  */

.button-brown:active {
  background-color: var(--active-brown);
} 

.fieldset input {
  background-color: var(--basic-light-gray);
  border: none;
}

form input:hover {
  background-color: var(--hover-gray);
}

form input:focus {
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
}

.search {
  background-color: var(--basic-blue);
  border: none;
  text-align: center;         
  vertical-align: middle;   /* я не вижу разницы с vertical-align и без него, а в  */
  color: var(--basic-white);
}

.search:hover {
  background-color: var(--hover-blue);
}

.search:active {
  background-color: var(--active-blue);
}

/*   footer   */

.footer {
  background-color: var(--opacity-white);
  color: var(--basic-black);
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  
}

.footer a {
  color: var(--basic-black);
}

.links {
  text-align: center;
}

.link-academy {
  font-weight: 400;
}

/*****     catalog       *****/

.background-catalog {
  background-image: url(../img/background-blur.jpg);
  background-position: top;
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;

}

.form-sorting fieldset {
  background-color: transparent;
  border: none;
  color: var(--basic-white);
  text-transform: uppercase;
}

.form-sorting legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.form-sorting button {
  background-color: transparent;
  border: 2px solid #FFFFFF;
}
.results ul {
  list-style: none;
}

.found {
  color: var(--basic-black);
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.results p {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.rotation a{
  color: var(--opacity-black);
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dashed var(--basic-blue);
}

.rotation a:hover {
  color: var(--basic-blue);
}

.rotation a:active {
  color: var(--basic-black);
  border: none;
}

.results .hotels a,
.results .hotels button,
.results .hotels span {
  font-size: 14px;             
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

.results .hotels a {
  font-weight: 700;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  border: none;
}

.results .hotels button {
  font-weight: 700;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  border: none;
  
}

.results span {
  color: var(--booking-brown);
  background-color: var(--basic-light-gray);

}

/* hotels*/

.hotels h2 {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.hotels p {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}







