:root {
  --basic-white: #FFFFFF;
  --basic-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-light-gray: #F2F2F2;
  --basic-gray:  #EEEEEE;
  --basic-black: #000000;
  --opacity-black: rgb(0,0,0, 0.3);
  --opacity-white-light: rgb(255,255,255, 0.3);
  --opacity-white: rgb(255,255,255, 0.9);

  --hover-blue: #669EC0;
  --hover-brown: #604E43;
  --hover-gray: #EBEBEB;

  --active-blue: #5496BD;
  --active-brown: #503E33; 

  /*мелкие иконки: календарь и +/- */

  --basic-icon-gray: #A9A9A9;
  --hover-icon-black: #000000;
  --active-icon-blue: #81B3D2;
  --updown-gray: #CACACA;
  --logo-gray: #BDBBBC;
  --checking-gray: #6A6A6A;
  --booking-brown: #666666;
  --toggle: #ABABAB;
  --line: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-height: 100vh;
  width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-black);
  box-sizing: border-box;  
  /*box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);*/
}
 
header,
main,
footer {
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

 /*****       index        *****/ 

/* Main navigation */

.main-navigation {
  background-color: var(--basic-white);
  margin: auto;
  color: var(--basic-black);
  width: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  height: 56px;
}

.logo {
  position: absolute;              
  z-index: 2;
  right: 531px;
}

.navigation {
  list-style: none;  
}

ul.site-navigation {
  width: 100%;
  min-height: 56px;
  padding-top: 15px;
  padding-left: 72px;
  margin: 0;
  display: grid;
  grid-template-columns: 218px 1fr 1fr 218px;
  padding-right: 72px;
  gap: 10px;
}

ul.site-navigation li {
  min-height: 26px;  
}

ul.site-navigation li:nth-child(4n+1) {                                            
  text-align: left; 
}

ul.site-navigation li:nth-child(4n+2) {                                
  text-align: left;         
}

ul.site-navigation li:nth-child(4n+3) {                                 
  text-align: right;                         
}

ul.site-navigation li:nth-child(4n+4) {                 
  text-align: right;
}

.site-navigation a {
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 700;               
  line-height: 26px;                   
  height: 26px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--active-icon-blue)
}

.site-navigation a:active {
  color: var(--opacity-black);
}

.site-navigation a:not([href]) {
  color: var(--basic-brown);
}    

.welcome {
  text-align: center;
  margin: auto;
}

.welcome img {
  margin-top: 77.35px;
}

.photo-index {
  background-image: url(../img/background-photo.jpg);
  background-color: var(--basic-brown);
  background-position: top;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 509px;
  padding: 0;
}

.shape {
  background-image: url(../img/shape.png);
  height: 57px;
  top: 18px;
  position: relative;
}

/* Advantages */

.advantages {
  text-transform: uppercase;
  background-color: var(--basic-white);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.intro {
  text-align: center;
  margin: 0;
}

.advantages h2 {
  font-size: 21px;
  line-height: 26px;
  margin-left: auto;                   
  margin-right: auto;
  margin-top: 42.5px;
  width: 470px;
  min-height: 80px;
}

.intro p {
  font-size: 14px;
  line-height: 26px;
  margin-top: 16.5px;
  margin-bottom: 51px;
}

.advantages-list {
  list-style: none;
  padding: 0;
  width: 1200px;
  box-sizing: border-box;
}

.reason-1 {     
  margin: auto;
}

.true-city {
  background-color: var(--basic-blue); 
  display: flex;
  align-items: center;
  min-height: 256px;
  flex-grow: 1;
  color: var(--basic-white);
  box-sizing: border-box;
}

.true-city-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.true-city p {
  margin-top: 23px; 
}

 .true-city h3 {
  margin: 0;
  width: 122px;
}

ul.city {
  list-style: none;
  display: flex;
  min-height: 330px;
  align-items: center;
  padding: 0;
}

ul.city li {
  width: 400px;
}

.city p {
  margin: 0;
  margin-top: 25px;
  font-size: 14px;
  line-height: 21px;
  min-height: 42px;
}

.housing  {                              
  min-inline-size: 188px;
  margin-top: 60px;                              
  margin-bottom: 82px;
  display: flex;
  flex-direction: column;
  padding-left: 65px;
  padding-right: 65px; 
}

.housing h4 {
  margin: 0;
  margin-top: 28px;
}

.food {
  min-height: 187px;
  margin-top: 61px;
  margin-bottom: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.food h4 {
  margin:0 ;
  margin-top: 29px;
}
 
.souvenirs {
  min-height: 194px;
  margin-top: 55px;
  margin-bottom: 81px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.souvenirs h4 {
  margin: 0;
  margin-top: 28px;
}

.souvenirs p {           
  width: 280px;
  min-height: 43px;                            
  margin-top: 25px;
  font-size: 14px;
  line-height: 21px;
}
.reason-2 {
  background-color: var(--basic-blue); 
  display: flex;
  flex-direction: row-reverse;                 
}

 .bridge {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--basic-white);
  flex-grow: 1;
  padding: 49px;
  box-sizing: border-box;
}

.bridge h3 {
  margin: 0;               
  width: 160px;               
  height: 43px;
}

.bridge span {
  margin-top: 25px;
}

.bridge p {
  margin: 0;
  margin-top: 23px;
}

.reason-345 {
  background-color: var(--basic-gray);        
  display: grid;
  grid-template-columns: 400px 400px 400px;                             
  min-height: 256px;
  list-style: none;
  padding: 0;
}

.reason-345 li:nth-child(3n+1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 155px;
  margin-top: 46px;
  margin: auto;
  box-sizing: border-box;
}

.reason-345 li:nth-child(3n+2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; 
  min-height: 155px;
  margin: auto;
  margin-top: 46px;
}

.reason-345 li:nth-child(3n+3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 46px;
  min-height: 155px;
  box-sizing: border-box;
}

.reason-345 p{
  width: 265px;
  min-height: 43px;
  margin-top: 25px;
}

.reason-345 p:nth-child(2) {
  width: 270px;
}
.reason-345 h3 {
  width: 119px;
  margin: 0;
}

.advantages-list h3,
.advantages-list h4,
.reason-345 h3 {
  font-size: 21px;
  line-height: 21px; 
}

.advantages-list span,
.reason-345 span {
  font-size: 14px; 
}
.advantages-list span {
  margin-top: 25px;
}

/* Search form*/

.search-map {
  padding-bottom: 78px;
}

.search-form {
  background-color: var(--basic-white);
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  width: 568px;
  margin: 0;
  padding: 0;
  margin-left: 316px;
  margin-right: 316px;
  margin-top: 58px;
  position: relative;
  z-index: 5;
}

.map {
  position: absolute;
  top: 2170px;
}

.search-intro {
  width: 435px;
  height: 145px;
  text-align: center;
  margin: auto;
}

.uppercase {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 0;
}

.window {
  height: 481px;
  width: 568px;
  box-sizing: border-box;
  margin: 0;
}

.fieldset {
  width: 458px;
  height: 285px;
  margin: 55px;
  border: none;
  padding: 0;
}

.search-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-label input {
  height: 38px;
  flex-grow: 1;
  margin-left: 20px;
  padding-left: 13px;
}

.fieldset p {
  min-height: 38px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 0;
}

.input-arrivals {
  margin-bottom: 29px;
}

.input-arrivals img {
  position: absolute;
  bottom: 310px;
  right: 64px;
}

 .input-departures img {
   position: absolute;
   right: 64px;
   bottom: 243px;
 }

 .input-departures {
  margin-bottom: 27px;
}

.fieldset input {
  background-color: var(--basic-light-gray);
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  height: 38px;
}

.people {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 50px;
  width: 458px;
  box-sizing: border-box;
}

.people input{
  width: 38px;
  text-align: center;
}

.people button{
  background-color: var(--basic-light-gray);
  border: none;
  height: 40px;
  width: 38px;
  color: var(--basic-icon-gray);
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  margin: 0; 
}

.people button:hover {
  color: var(--basic-black);
}

.people button:active {
  color: var(--basic-blue);
}

.adult-label{
  margin-right: 40px; 
}

.child-label {
  margin-left: 50px;
  margin-right: 20px;
}

.button-brown {
  background-color: var(--basic-brown);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  border: none;
  min-height: 86px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.button-brown:hover,
.button-brown:focus {
  background-color: var(--hover-brown);
}

.button-brown:active {
  background-color: var(--active-brown);
  color: var(--opacity-white-light);
} 

form input:hover {
  background-color: var(--hover-gray);
}

form input:focus {
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
}

.search {
  background-color: var(--basic-blue);
  border: none;
  text-align: center;         
  vertical-align: middle;   
  color: var(--basic-white);
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  min-height: 58px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.search:hover {
  background-color: var(--hover-blue);
}

.search:active {
  background-color: var(--active-blue);
}



/*****     catalog       *****/



.hotels-catalog {
  background-image: url(../img/background-blur.jpg);
  background-position: top;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 1200px;
  height: auto;
}

.form-sorting {
  min-height: 217px;
  padding-right: 72px;
  padding-left: 72px;
  padding-top: 26.5px;
  display: flex;
  box-sizing: border-box;
}

.form-sorting fieldset {
  background-color: transparent;
  border: none;
  color: var(--basic-white);
  text-transform: uppercase;
}

.form-sorting legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.infrastructure-type {
  display: flex;
  width: 391px;
  min-height: 158px;
  justify-content: space-between;
}

.infrastructure-list,
.type-list {
  min-height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 27px;
  position: relative;
  margin-right: 137px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.type-list {
  margin-right: 100px; 
}

.infrastructure-type legend{
  margin-bottom: 24px;
  right: 13px;
  position: relative;
}

.type-list span:nth-of-type(2) {
  position: absolute;
  right: 75px;
  bottom: 48px;
}

.check-box + label::before {
  content: "";
  position: absolute;
  left: -15px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg); 
}

 .check-box:checked + label::before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox-on.svg); 
}

.check-box:disabled + label::before {
  background-image: url(../img/checkbox-off-disabled.svg);
}

.check-box:checked:disabled + label::before {
  background-image: url(../img/checkbox-on-disabled.svg);
}

.cost {
  height: 158px;
  width: 317px;
  margin-left: 347px;
  position: relative;
}

.cost legend{
  margin-bottom: 11px;
  margin-right: 75px;
  position: absolute;
  bottom: 139px;
  right: 149px;
}

.min-max {
  display: flex;
  align-items: center;
  position: relative;
  width: 313px;
  height: 33px;
  border-radius: 2px;
  border: 2px solid var(--basic-white);
  top: 27px;
  left: -11px;
    
}
.min-max input {
  background-color: inherit;
  border: none;
  text-align: center;
  font-size: inherit;
  font-size: 14px;
  line-height: 21px;
  width: 157px;
  text-transform: uppercase;
  color: var(--basic-white); 
}

.min::after {
  content: "";
  background-color: var(--basic-white);
  width: 2px;
  height: 22px;
  position: absolute;
  top: 6px;
  right: 154px;
}

 .range-controls {
   position: relative;
 } 

.range-controls .scale { 
  background: var(--basic-white);
  margin-top: 47px;
  width: 248px;
  height: 2px;
}

.range-controls .bar {
  background: var(--basic-white);
  opacity: 0.3;
  width: 54px;
  height: 2px;
  position: absolute;
  right: 15px;
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle);
  position: absolute;
  top: -9px;
  cursor: pointer;
}
.range-controls .toggle:hover {
  width: 5px;
  height: 5px;
  border: 9px solid var(--basic-white);
}
.range-controls .toggle-min {
  left: -10px;
}

.range-controls .toggle-max {
  right: 56px;
}

.cost button {
  position: absolute;
  bottom: -69px;
  right: 106px;
  width: 137px;
  height: 36px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-right: 35px;                  
  padding-left: 34px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid #FFFFFF; 
  border-radius: 2px;
}

.cost button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.found {
  color: var(--basic-black);
  text-transform: uppercase;
  display: flex;
  min-height: 86px;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
}

.found p:first-child {
  padding: 0;
  margin-left: 73px;
  margin-right: 46px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.rotation {
  list-style: none;
  display: flex;
}

.rotation a{
  color: var(--opacity-black);
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px dotted var(--basic-blue);
}

.rotation li:first-child {
  margin-right: 32px;
}

.rotation li:nth-child(2) {
  margin-right: 33px;
}
 
.rotation a:focus {
  color: var(--basic-blue);
}

.rotation a:hover {
  color: var(--basic-blue);
}

.rotation a:active {
  color: var(--basic-black);
  border: none;
}

.up-down {
  width: 34px;
  height: 10px; 
  margin-right: 73px;
  margin-left: auto;
  position: relative;
  top: 3px;
}

.up,
.down {
  width: 12px;
  height: 10px;
  position: absolute;
  background-repeat: no-repeat;
}

.up {
  background-image: url(../img/icon-up-dir.svg);
}

.down {
  background-image: url(../img/icon-down--dir.svg);
  left: 23px;
}

.up:hover {
  background-image: url(../img/icon-up-dir-black.svg);
}

.down:hover {
  background-image: url(../img/icon-down-dir-black.svg);
}

.up:active {
  background-image: url(../img/icon-up-dir-blue.svg);
}

.down:active {
  background-image: url(../img/icon-down-dir-blue.svg);
}


/* hotels*/

.hotels {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hotels li {
  display: flex;
  min-height: 151px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 73px;
  padding-right: 73px;
  box-sizing: border-box;
  border-top: 1px solid var(--line);
}

.hotels li:last-child {
  border-bottom: 1px solid var(--line);
}

.hotel {
  margin-top: 0;
  box-sizing: border-box;
  padding: 0;
}

.more-book {
  display: flex;
}

.stars {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--booking-brown); 
}

.stars span:first-child {
  background-image: url(../img/star.svg);
  height: 17px;
  background-repeat: space;
}

.four {
  width: 88px;
  position: relative;
  left: 18px;
  top: -2px;
}

.three {
width: 66px;
position: relative;
left: 40px;
top: -2px;
}

.two {
  width: 42px;
  position: relative;
  left: 64px;
  top: -2px;
}

.stars span:last-child {
  text-align: center;
  padding-left: 15px;
  padding-right: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: var(--basic-light-gray);
}

.found-cost {
  display: flex;  
}

.hotels h2 {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
  position: relative;
  top: -5px;
}

.hotels h2:hover {
  color: var(--active-icon-blue);
}

.hotels h2:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.hotels p {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  width: 126px;
  margin-top: 2px;
}

ul.hotels img {
  height: 100%;
  margin-right: 30px;
}

 .hotels a,
 .hotels button,
 .hotels span   {
  font-size: 14px;             
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
}

 .hotels a {
  font-weight: 700;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  border: none;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 17px;
  width: 110px;
  height: 27px;
  box-sizing: border-box;
}

.hotels a:hover {
  background-color: var(--hover-blue);
}

.hotels a:focus {
  background-color: var(--active-blue);
  color: var(--opacity-white-light);
}

 .hotels button {
  font-weight: 700;
  background-color: var(--basic-brown);
  color: var(--basic-white);
  border: none;
  width: 142px;
  height: 27px;
  padding-right: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 17px;
  margin-left: 6px;
}

.hotels button:hover {
  background-color: var(--hover-brown);
}

.hotels button:focus {
  background-color: var(--active-brown);
  color: var(--opacity-white-light);
}



/*   footer   */



.footer {
  display: grid;
  width: 1200px;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 5;
  position: absolute;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--opacity-white);
}

.footer a {
  color: var(--basic-black);
}

.contacts {
  height: 61px;
  margin-top: 23px;
  margin-bottom: 36px;
  text-align: center;
  padding-left: 72px;
}

.contacts p {
  height: 26px;
  margin: 0;
  margin-bottom: 10px;
}

.contacts a {
  margin-top: 9px;
}

.links .navigation {
  display: flex;
  margin-top: 36px;
  margin-bottom: 36px;
  padding: 0;
  justify-content: center;
}

.links li {
  width: 46px;
  height: 48px;
  text-align: center;
  padding-top: 13px;
  background-color: var(--basic-blue);
  box-sizing: border-box;  
}

.links li:nth-child(3n+1),
.links li:nth-child(3n+2) {
  margin-right: 6px;                 
}

.links li:hover {
  background-color: var(--hover-blue);
}

.links li:active {
  background-color: var(--active-blue);
}

li:active img {
  opacity: 0.3; 
}

.link-academy {
  font-weight: 400;       
  margin-top: 42px;
  height: 41px;  
  display: flex;
  align-items: center;
  padding-left: 65px;
}

.link-academy p {
  font-size: 14px;
  line-height: 26px;               
  width: 82px;                           
}




